$color: #072B61;
$fuente: 'Inter', sans-serif;

*{
	margin: 0; padding: 0;
	box-sizing: border-box;
}

@mixin mobile{
	@media (max-width: 480px){
		@content;
	}
}

@mixin tablet{
	@media (max-width: 1024px){
		@content;
	}
}

html{
	font-size: 16px;

	@include tablet{
		font-size: 15px;
	}

	@include mobile{
		font-size: 14px;
	}
}

body{
	font-family: $fuente;
	background: #DADFE7;
	color: #181818;
}

a, button, input{
	outline: none;
}

h1, h2, h3, p{
	letter-spacing: -0.12px;
}

button{
	min-width: 200px;
	padding: 14px 20px;
	border-radius: 50px;
	border: 2px solid transparent;
	cursor: pointer;

	font-size: 1.03rem;
	font-family: $fuente;
	font-weight: 500;
	margin-right: 12px;
	transition: 200ms ease-out;

	&:hover{
		opacity: 0.75;
	}

	&.blue{
		background: $color;
		color: white;
	}

	&.rgba{
		background: rgba($color,.20);
	}

	// ESTILOS PARA DESACTIVAR EL BOTON
	&.disabled{
		opacity: 0.30;
		background: grey;
		color: black;
		cursor: initial;
	}
}

.container{
	width: 100%;
	height: 100%;
	box-sizing: border-box;

	.container-col{
		width: 100%;
		height: 100%;

		.container-content{
			width: 100%;
			min-height: 100vh;
			padding: 50px;

			display: grid;
			grid-template-columns: 1fr 420px;
			grid-gap: 0px;

			overflow: hidden;
			position: relative;

			@include tablet{
				padding: 20px;
				grid-template-columns: unset;
				grid-template-rows: 1fr auto;
			}

			@include mobile{
				padding: 15px;
			}
		}

		.logo{
			position: absolute;
			top: 0; left: 0;

			width: 35px;
			height: 35px;

			@include tablet{
				width: 30px;
				height: 30px;
			}

			img{
				width: 100%;
				height: 100%;
				object-fit: contain;
			}
		}

		.item{
			width: 100%;
			height: 100%;

			&.form{
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				position: relative;

				.texto{
					width: 90%;
					height: 100%;
					margin-top: 100px;
					margin-bottom: 25px;

					textarea{
						width: 100%;
						height: 100%;
						min-height: 250px;
						border: unset;
						background: transparent;
						outline: none;
						resize: none;
						cursor: pointer;

						font-family: $fuente;
						font-weight: 500;
						font-size: 2rem;

						&::placeholder{
							color: rgba($color,.55);
						}
					}

					@include tablet{
						width: 100%;

						textarea{
							font-size: 1.8rem;
						}
					}
				}

				.content{
					.info{
						display: flex;
						justify-content: flex-start;
						align-items: center;
						margin-bottom: 20px;

						@include mobile{
							margin-bottom: unset;
						}

						img{
							width: 13px;
							height: 13px;
							margin-right: 6px;
						}

						p{
							opacity: 0.70;
						}
					}
				}

				.btns{
					@include tablet{
						display: grid;
						grid-template-columns: repeat(2, 1fr);
						grid-gap: 15px;

						button{
							width: 100%;
							margin-right: 0px;
						}
					}

					@include mobile{
						display: block;

						button{
							margin-top: 15px;
						}
					}
				}
			}

			&.result{
				height: auto;
				background: white;
				border-radius: 20px;
				box-shadow: 0px 4px 10px rgba(black,.03);

				display: flex;
				justify-content: center;
				align-items: center;

				position: relative;
				transition: 520ms ease-out;

				@include tablet{
					margin-top: 35px;
				}

				.item-content{
					width: 100%;
					height: 100%;
					position: absolute;
					top: 0; left: 0;

					display: flex;
					justify-content: center;
					align-items: center;
				}

				// AQUI HACEMOS LA ANIMACION DE ROTAR EL CONTENEDOR
				&.rotate{
					transform: rotateY(360deg);
					transform-style: preserve-3d;

					.content{
						display: none;
					}

					.resultado{
						display: flex;
					}
				}

				.content{
					width: 80%;
					height: auto;
					text-align: center;
					display: block;

					.thumb{
						width: 250px;
						height: 250px;
						margin: auto;

						@include tablet{
							display: none;
						}

						img{
							width: 100%;
							height: 100%;
							object-fit: cover;
						}
					}

					.texto{
						margin-top: 40px;

						h3{
							font-size: 1.7rem;
						}

						p{
							margin-top: 10px;
							opacity: 0.60;
						}
					}

					@include tablet{
						padding: 35px 0px;

						.texto{
							margin-top: 0;
						}
					}
				}

				.resultado{
					width: 100%;
					height: 100%;
					padding: 25px;

					display: none;
					justify-content: space-between;
					flex-direction: column;

					@include mobile{
						padding: 15px;
					}

					.texto{
						width: 100%;
						height: auto;
						padding-bottom: 20px;

						span{
							color: $color;
							opacity: 0.70;
							margin-bottom: 10px;
							display: block;
						}

						p{
							font-weight: 500;
							font-size: 1.2rem;
							line-height: 1.85rem;
							box-sizing: border-box;
						}
					}

					.btn{
						width: 100%;
						padding-top: 25px;
						border-top: 1px solid rgba(black,.20);

						button{
							width: 100%;
						}

						.copy{
							color: green;
							margin-top: 10px;
							font-size: 0.85rem;
							font-weight: 500;
							text-align: center;
							display: none;

							&.show{
								display: block;
								animation-name: alerta;
								animation-duration: 3s;

								@keyframes alerta{
									from{
										display: block;
									}

									to{
										display: none;
									}
								}
							}
						}
					}
				}
			}
		}
	}
}

.error{
	width: 100%;
	max-width: 300px;
	padding: 13px 20px;
	background: red;
	border-radius: 10px;
	box-shadow: 0px 0px 15px rgba(black,.10);
	color: white;

	position: absolute;
	bottom: 15px; left: 0; right: 0;
	margin: auto;
	text-align: center;

	transition: 200ms ease-out;
	transform: translateY(100%);
	visibility: hidden;

	@include tablet{
		max-width: unset;
		border-radius: unset;
		bottom: 0;
	}

	&.show{
		transform: translateY(0%);
		visibility: visible;
	}
}

footer{
	width: 100%;
	padding: 20px 50px;
	background: $color;
	color: white;

	display: flex;
	justify-content: space-between;
	align-items: center;

	@include tablet{
		padding: 20px;
	}

	p{
		a{
			color: unset;
		}
	}

	.link{
		li{
			list-style: none;
			display: inline-block;

			a{
				color: unset;
				margin-left: 12px;

				&:hover{
					text-decoration: underline;
				}
			}
		}
	}
}